*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
  
  }
  
  nav{
  
    flex: 1;
    text-align: center;
  
  }
  
  nav ul{
      display: inline-block;  
      list-style-type: none;
  
  }
  
  nav ul li{
  
    display: inline-block;
    margin-right: 20px ;
  }


  #welcomeHeader{

text-align: center; 
 }


  
 
.img {

  display: inline-block;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
} 

.aboutHeader{

  text-align: center;
}

